<!-- <div class="container" fxLayout = "column" fxLayoutGap = "10px">
	<md-list fxFlex>
		<md-list-item *ngFor="let dish of dishes">
			<img md-list-avatar src="{{dish.image}}" alt="{{dish.name}}"/>
			<h1 md-line>{{dish.name}}</h1>
			<p><span>{{dish.description}}</span></p>
		</md-list-item>
	</md-list>
</div> -->


<!-- <div style="width:100%;">
	<ul *ngFor="let dish of dishes" style="list-style:none;">
		<li>
			<img src="{{dish.image}}">
			<h1>{{dish.name}}</h1>
			<h5>{{dish.price}}</h5>
			<h3>{{dish.description}}</h3>
		</li>
	</ul>
</div>
 -->

 <div class="container-fluid food-list">
 	<div class="row">
 		<div class="col-md-4" *ngFor="let dish of dishes">
 			<div class="food-list-inner">
 				<div class="food-img-head row">
 					<div class="col-md-4"><img class="rounded-circle" src="{{dish.image}}" alt="{{dish.name}}"/></div>
 					<div class="col-md-8"><h1>{{dish.name}}</h1></div>
 				</div>
				<p><span>{{dish.description}}</span></p>
				<span>&#8377; {{dish.price}}</span>
 			</div>
 		</div>
 	</div>
 </div>