<div class="container-fluid food-list" *ngIf="dishes">
 	<div class="row">
 		<div class="col-md-4" *ngFor="let dish of dishes">
 			<div class="food-list-inner" appHighlight>
 				<div class="food-img-head row">
 					<div class="col-md-4"><img class="rounded-circle" src="{{BaseURL + dish.image}}" alt="{{dish.name}}"/></div>
 					<div class="col-md-8">
 						<h2>{{dish.name}}</h2>
 						<span>&#8377; {{dish.price}}</span>
 					</div>
 				</div>
				<p><span>{{dish.description}}</span></p>
 			</div>
 		</div>
 	</div>
 </div>

 <div [hidden]="dishes">Loading... Please Wait</div>
<hr />
<!-- card -->
<!-- <div class="card" *ngIf="selectedDish">
        <img class="card-img-top" src="{{selectedDish.image}}" alt="{{selectedDish.name}}">
        <div class="card-body">
        <h4 class="card-title">{{selectedDish.name | uppercase}}</h4>
        <p class="card-text">{{selectedDish.description}}</p>
        <a href="#" class="btn btn-primary">Like</a>
      </div>
</div> -->

<div *ngIf="errMess">
	<h2>Error</h2>
	<h2>{{ errMess }}</h2>
</div>