<div class="jumbotron row">
  <div class="col-md-6">
  	<h1 class="display-3">The CAFE</h1>
  	<p class="lead">The cafe for small cups of cofee and big conversations</p>
  	<h4>Culver’s Restaurant was founded by the Culver family in 1984, which eventually branched out to more than 300 franchised restaurants all over the US. Culver’s is well-known for its ButterBurger, which made the restaurant extremely famous. They also have other items which include salads, sandwiches, desserts, etc.</h4>
  </div>
  <div class="col-md-6 address">
  	<h2>Bangalore <i class="fa fa-map-marker" aria-hidden="true"></i></h2>
  	<h2>(+91) 9999999999 <i class="fa fa-mobile" aria-hidden="true"></i></h2>
  	<h2>Open 24x7 <i class="fa fa-clock-o" aria-hidden="true"></i></h2>
  </div>
</div>
